@{
    ViewData["Title"] = "Employabilité";
}


<br />

<center>
    <strong>
        <H1>
            <font color="#083B32"><b>
                Formation Au Service De L'entreprise
            </b></font>
        </H1>
    </strong>
</center>
<br />
<style>
    p {
        text-align: justify;
        line-height: 1.6;
        margin-bottom: 20px;
    }

    strong {
        color: #03224c;
    }

    em {
        font-style: italic;
    }

    .highlight {
        background-color: #f5f5f5;
        padding: 5px;
        border-radius: 3px;
    }
</style>


<p>

        Depuis 1986, l’École Marocaine des Sciences de l’Ingénieur associe le monde de l’entreprise, toujours en mouvement, à tous les niveaux de son
        activité et de sa pédagogie.
        En effet, l’EMSI est depuis toujours engagée dans la formation d’ingénieurs et de managers de haut niveau, immédiatement opérationnels, aptes 
        à comprendre les exigences de l’entreprise et à répondre à ses priorités. Dans une dynamique de développement durable, l’objectif permanent de
        l’EMSI est de répondre aux enjeux économiques actuels du Royaume et du continent Africain.
        L’EMSI favorise largement la présence et la collaboration des entreprises en multipliant les rencontres professionnelles et en nourrissant les
        partenariats économiques.
        Plus de 13 000 lauréats de l’EMSI sont actuellement en poste dans tous les secteurs d’activités. Ceci favorise les liens étroits et la 
        confiance établi avec avec la majorité des entreprises du marché.


</p>

<center><h2><font color="#083B32"><b>Événements Employabilité</b></font></h2></center>
<br />
<br />

<h4><center><font color="green"> FORUM EMSI ENTREPRISES </font></center></h4> 
<br /><p>


        A travers les forums EMSI-Entreprise, nous accueillons des responsables de recrutement de plusieurs entreprises partenaires, offrant ainsi aux
        étudiants et lauréats l’opportunité de décrocher un stage ou un premier emploi via des entretiens organisés à l’EMSI. Des spécialistes de
        divers secteurs d’activités : entreprises spécialisées en ingénierie informatique, technologie, banque, assurance, télécom, bâtiment et travaux
        publics, consulting… Des professionnels souhaitant partager leurs connaissances et leurs expériences à travers des tables rondes. Des start-ups
        marocaines pour les étudiants désireux de s’orienter vers l’entrepreneuriat.
        Le forum emsi-entreprises est une opportunité pour les étudiants de rencontrer :

         -Des responsables de recrutement offrant aux étudiants/lauréats l’opportunité de décrocher un stage ou un premier emploi via des entretiens
           organisés sur place
         -Des spécialistes de divers secteurs d’activités : SSII, technologie, banque, assurance, télécom, BTP, consulting…
         -Des professionnels souhaitant partager leurs connaissances et leurs expériences à travers des tables rondes
         -Des start-ups marocaines pour les étudiants désireux de s’orienter vers l’entrepreneuriat

</p>
              <center><h4><font color="green">LES JOB DAYS OU JOURNÉES DE RECRUTEMENT</font></h4></center>  
<br />
<p>

        Ces journées organisées par des entreprises partenaires sur les sites de l’EMSI, permettent aux étudiants et lauréats d’être directement en
        contact avec ces entreprises venues spécialement pour recruter leurs futurs ingénieurs-cadres. De tels évènements, sont organisés en partenariat
        avec l’AGEF ( Association Nationale des Gestionnaires et Formateurs des Ressources Humaines) et chaque année plus de 40 entreprises participent 
        à cet évènement dans chaque établissement de l’EMSI.
        Tout au long de ces journées, les entreprises organisent des tests écrits pour valider les connaissances techniques des candidats puis des 
        entretiens individuels afin d’évaluer les compétences personnelles de chacun(e) (savoir-être et savoir-faire). Les candidats retenus sont 
        invités à passer un dernier entretien RH dans les locaux de l’entreprise. Les Job Days permettent de découvrir le monde de l’entreprise et
        donnent l’opportunité de décrocher rapidement un stage ou un premier emploi.
</p>
<br /><br />
      <center>l'EMSI est reconnue par l'État.</center>
