@{
    ViewData["Title"] = "Campus";
}

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <!-- Ajoutez ici vos liens vers les feuilles de style Bootstrap et autres -->
    <!-- Exemple :
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    -->
</head>
<body>
    <style>
        p {
            text-align: justify;
            line-height: 1.6;
            margin-bottom: 20px;
        }

        strong {
            color: #03224c;
        }

        em {
            font-style: italic;
        }

        .highlight {
            background-color: #f5f5f5;
            padding: 5px;
            border-radius: 3px;
        }
    </style>

    <div class="container mt-5">
        <center>
            <strong>
                <h1>
                    <font color="#083B32">
                        <b>Campus Life</b>
                    </font>
                </h1>
            </strong>
        </center>
        <br />

        <!-- Ajoutez le chemin correct de votre image -->
        <div class="text-center">
            <img src="~/images/Campus3.png" alt="Image Campus" class="img-fluid">
        </div>

        <!-- Le reste de votre contenu ici -->

    </div>
    <br /><br />
    <p>
        Les clubs des élèves ingénieurs EMSI procurent une expérience d’apprentissage distincte hors des salles de classe par rapport à la communication, le leadership, le networking et le travail d’équipe.

        Favoriser le partage de connaissances entre les élèves ingénieurs de différents niveaux et de différentes filières.
        Appliquer concrètement l’esprit ingénierie dans la gestion de (projet, équipe, temps, crise, conflit, …).
        Prendre part à des projets captivants et innovants ainsi participer à des concours d’innovations nationaux et internationaux.
        Acquérir de l’expérience par la pratique
        Développer des compétences comportementales et relationnelles
        Forger des liens tangibles avec la société
        Les clubs d’élèves ingénieurs EMSI contribuent fortement à développer les compétences cités au-dessus. Ils offrent d’innombrables challenges qui permettent à l’étudiant de sortir de sa zone de confort et d’explorer de nouveaux horizons.

    </p><br /><br />
    <!-- Ajoutez ici vos liens vers les scripts Bootstrap et autres -->
    <!-- Exemple :
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8sh+WyGzF0XnGnbDQECv9tc15c9TWuSKZI8bez" crossorigin="anonymous"></script>
    -->
    <center>
        <strong>
            <h1>
                <font color="#083B32">
                    Divertissements
                </font>
            </h1>
        </strong>
    </center>
    <br />
    <p>
        Nous pensons que la vie sociale est l’une des parties les plus importantes de la vie estudiantine. EMSI n’est pas seulement l’endroit pour étudier et faire des recherches, mais aussi pour se détendre, s’amuser, se faire de nouveaux amis et grandir personnellement. Nous organisons diverses activités pour nos élèves ingénieurs. Grâce à la socialisation régulière, les élèves développent des liens à vie. C’est pourquoi la vie hors classe est notre intérêt spécial.

        L’épanouissement étant une valeur fondamentale de l’EMSI, Persévérance et compétitivité sont au rendez-vous pour consolider l’esprit sportif.  les activités de loisirs sont privilégiées  pour rythmer la vie estudiantine.

        Journées d’intégration
        Soirées traditionnelles et thématiques
        Excursions
    </p>

    <center>l'Emsi est reconnue par l'Etat.</center>
</body>
</html>
