@{
    ViewData["Title"] = "Confirmation";
}
<center><strong><H1><font color="#03224c">Cursus des études</font></H1></strong></center>
<BR>
<style>
    .image-d {
        display: block;
        margin: 0 auto;
        height: auto;
    }

    .smaller-image {
        display: block;
        margin: 0 auto;
        width: 300px;
        height: auto;
    }
</style>
<img src="~/images/formation.png" class="smaller-image">
<br />
<br />
<style>
    p {
        text-align: justify;
        line-height: 1.6;
        margin-bottom: 20px;
    }

    strong {
        color: #03224c;
    }

    em {
        font-style: italic;
    }

    .highlight {
        background-color: #f5f5f5;
        padding: 5px;
        border-radius: 3px;
    }
</style>
<p>

    La pratique dans le métier d’Ingénieur étant primordiale, l’EMSI dispense à ses étudiants une part importante de travaux pratiques. Les manipulations durant ces travaux permettent la compréhension et l’assimilation des cours théoriques qui leur sont enseignés. De plus, des mini-projets et projets sont programmés tout le long du cursus, pour inciter l’étudiant, seul ou en binôme, à proposer et apporter des solutions aux problèmes auxquels il sera confronté dans sa vie active.

    Un personnel enseignant de compétence indéniable intervient à l’EMSI. Outre un personnel permanent de haut potentiel, des docteurs d’Etat, des docteurs ingénieurs, professeurs dans les grandes écoles et Universités, ou cadres supérieurs dans des entreprises assurent la formation de nos élèves ingénieurs.

    Ils travaillent en coordination commune sous la direction des responsables de filières et forment le conseil d’enseignement de l’école. Celui-ci définit, avec le directeur de l’école et les industriels partenaires, le contenu des programmes et leur adaptation permanente à l’évolution des connaissances et aux besoins de l’industrie et des entreprises. Le personnel permanent de l’EMSI, bénéficie d’une formation continue, lui permettant l’actualisation de ses connaissances par son intervention dans la recherche appliquée tant universitaire qu’industrielle.
</p>
<br />
<br />
<center><strong><H1><font color="#03224c">Pôle Ingénierie</font></H1></strong></center>

<BR>
<style>
    .image-d {
        display: block;
        margin: 0 auto;
        width: 900px;
        height: auto;
    }
</style>
<img src="~/images/pole1.png" class="image-d">
<br />
<br />

<center><strong><H1><font color="#03224c">Pôle Finance</font></H1></strong></center>
<BR>
<style>
    .image-d {
        display: block;
        margin: 0 auto;
        width: 900px;
        height: auto;
    }
</style>
<img src="~/images/pole2.png" class="image-d">
<br />
<br />
<center><strong><H1><font color="#03224c">Certificats IBM pour l'Ingénierie</font></H1></strong></center>
<br />
<br />
<p>
    L’industrie 4.0 est caractérisé par un nouveau mode d’organisation de l’entreprise pour mettre fin aux structures hiérarchiques complexe. Donc, il est nécessaire de fusionner les techniques des TIC aux technologies industrielle. Dans l’industrie 4.0, les systèmes embarqués, les technologies IoT et CPS relient l’espace virtuel au monde physique pour donner naissance à une nouvelle génération connectée d’usines dites « intelligentes ».

    C’est dans ce cadre que l’EMSI adopte un plan de certification annuel pour explorer les technologies émergentes de demain telles que l’intelligence artificielle, Internet des objets, Big Data, au profit des étudiants des filières automatisme et informatique industrielle et Génie industriel, afin d’aider les étudiants à construire leurs projets innovants, et surtout apprendre et améliorer les compétences en technologie.
</p>

<br />
<br />
<img src="~/images/certif.png" class="image-d">


<br />
<center>l'Emsi est reconnue par l'Etat.</center>